html{
  font-family : @font-style;
  font-size : 62.5%;
  background-color:#F9F9F9;
  
}
body{
  display: block;
  width:100%;
  height:100%;
  max-width: 800px;
  box-sizing: border-box;
} 
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.page-container{
  max-width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @media @mobile{
      transform: translate(-50%, -50%);
  }
}