/* Header Styles *
.header {
    .flex(space-between, center);
    background-color: teal;
    .width-100();
    height:120px;
    margin-top: 44px;
    padding-bottom: 15px;
}

.header nav {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.header nav a {
    text-decoration: none;
    color: #b0b0b0
}

h1 {
    font-size: 60px;
    font-family: Didot, serif;
    font-weight: bold;
    flex: 8;
    text-align: center;
    color: black;
}

span {
    align-self: flex-end;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}
